<h2><%= @post.content %></h2>

<p class>
  Posted on <%= @post.created_at %>
</p>

<div class>
  <p>
    <%= link_to 'Edit post', edit_post_path %> <%= link_to 'Delete post', post_path, method: 'delete', confirm: 'Are you sure?' %> <%= link_to 'Back', current_user.profile %>
  </p>
</div>
