<p id="notice"><%= notice %></p>
<p><%= @album.title %></p>
<% @album.pictures.each do |picture| %>

<%= picture.caption %>
<%= picture.description %>
<%= image_tag picture.image.main_image %>

<% end %>





<%= link_to 'Add Picture', @new_profile_album_picture_path%>|
<%= link_to 'Back', profile_albums_path %>