<p id="notice"><%= notice %></p>
<h1><%= @album.title %></h1>
<% @album.pictures.each do |picture| %>
<%= image_tag picture.image.main_image %>
<p><%= picture.caption %></p>
<nav>
  <ul>
    <li><%= link_to 'Show', profile_album_picture_path(picture.album.profile.id, picture.album.id, picture.id) %></li>
  </ul>
</nav>
<% end %>



<nav>
  <ul>
    <li><a href="/profiles/<%= @profile.id %>/albums/<%= @album.id %>/pictures/new">Add a picture</a></li>
<br>
<br>
    <li><%= link_to 'Back', profile_albums_path %></li>
  </ul>
</nav>