<!DOCTYPE html>
<html>
<head>
  <title>Plugged-In!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>Plugged-In</header>

<main class="landing">
  <h1>Welcome to Plugged-In!</h1>
  <nav>
      <ul>
        <li><%= link_to 'Home', home_index_path%></li>
        <li><%= link_to 'Profile', profiles_path %></li>
        <li><%= link_to 'Music', songs_path %></li>

      </ul>
    </nav>
<% if current_user %>
<% else %>
    <h1>Log in</h1>
    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>
      </div>
      <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
      </div>
      <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>
<% end %>
    <% if current_user %>
  <p>Hello <%= current_user.email%></p>
  <%= link_to "Log out", destroy_sessions_path, method: :delete %>
  <% else %>
    <%= link_to "Login", new_session_path %>
    <%= link_to "Sign up", new_user_path %>

  <% end %>



<% flash.each do |name, msg| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= msg %>
      </div>
<% end %>
</main>

  </body>
</html>


</body>
</html>