
<h1 class="song">Plug in to your favourite songs</h1>
<section>
<% @songs.each do |song| %>
  <p><%= song.artist %></p>
  <p><%= song.title %></p>
  <p><%= song.genre %></p>
  <p><%= audio_tag song.tune, controls: true %></p>
<nav>
  <ul>
  <li><%= link_to 'Show', song %></li>
  <li><%= link_to 'Edit', edit_song_path(song) %></li>
  <li><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</nav>
<% end %>
</section>

<br />

<%= link_to 'New Song', new_song_path %>
