<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= link_to @song.profile.user.first_name + " " + @song.profile.user.last_name, profile_path(@song.profile.user.id)%>
</p>
<p>
  <b>Title:</b>
  <%= @song.title %>
</p>
<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>
<p>
  <b>Genre:</b>
  <%= @song.genre %>
</p>
<p>
  <b>Song:</b>
  <%= audio_tag @song.tune, controls: true %>
</p>

Number of comments: <%= @song.comments.count %>
<ul>
  <% @song.comments.each do |comment| %>
  <li>
    <%= comment.content%>
  </li>
  <% end %>
</ul>
<br>
<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
<br>



<%= form_for [@song, Comment.new] do |f| %>
  <p>
    <%= f.label :Comment %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


