<h1>Listing profiles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.user_id %></td>
    <td><%= profile.user.first_name %></td><td><%= profile.user.last_name %></td>
    <td><%= image_tag profile.avatar.thumb %></td>
    <td><%= link_to 'Show', profile %></td>
    <% if can? :update, profile %>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <% end %>
    <% if can? :delete, profile %>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<nav>
    <ul>
        <li><%= link_to 'New Profile', new_profile_path %></li>
    </ul>
</nav>
