

<p id="notice"><%= notice %></p>
<h1><%= @profile.user.first_name + " " + @profile.user.last_name %></h1>

<div>

  <%= image_tag @profile.avatar.main_image %>

<p>
  <b>About:</b>
  <%= @profile.about %>
</p>

<p>
  <b>Song:</b>

  <% @profile.songs.each do |song| %>
      <%= audio_tag(song.tune, controls: true) %></audio>
  <% end %>
</p>
<p>
  <b>Status updates:</b>
<br>
  <% @profile.posts.each do |post| %>
      <p class="status"><%= post.content %></p></audio>
  <%if can? :delete, post %>
        <%= link_to 'Delete post', post_path(post), method: 'delete', confirm: 'Are you sure?' %>
      <% end %>
  <% end %>
</p>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> 
<%= link_to 'Galleries', profile_albums_path(@profile) %> 

<%= link_to 'New Song', new_song_path %>
<%= link_to 'New post', new_post_path %>
