

<p id="notice"><%= notice %></p>
<header><h1><%= @profile.user.first_name + " " + @profile.user.last_name %></h1></header>

<div>

  <%= image_tag @profile.avatar.main_image %>

<p>
  <b>User:</b>
  
</p>

<p>
  <b>About:</b>
  <%= @profile.about %>
</p>

<p>
  <b>Song:</b>

  <% @profile.songs.each do |song| %>
      <%= audio_tag(song.tune, controls: true) %></audio>
  <% end %>
</p>
<p>
  <b>Posts:</b>

  <% @profile.posts.each do |post| %>
      <%= post.content %></audio>
  <% end %>
</p>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> 
<%= link_to 'Galleries', profile_albums_path(@profile) %> 

<%= link_to 'New Song', new_song_path %>
