<p id="notice"><%= notice %></p>

<p>
  <b>Album:</b>
  <%= @picture.album_id %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @picture.image.main_image %>
</p>

<p>
  <b>Caption:</b>
  <%= @picture.caption %>
</p>


<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>

Number of comments: <%= @picture.comments.count %>
<ul class="comments">
  <% @comments.each do |comment| %>
  <li>
    <%= comment.content%>
    <p>Created on: <%= comment.created_at %> By <%= comment.user.full_name %><p>
    <% if can? :delete, comment %>
      <%= link_to "delete", [@profile, @album, @picture, comment], method: :delete%>
    <% end %>
  </li>
  <% end %>
</ul>

 <%= paginate @comments %>


  <%= form_for [@profile, @album, @picture, Comment.new] do |f| %>
  <p>
    <%= f.label :Comment %><br />
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
<nav>
  <ul>
  <% if can? :delete, @picture %>
    <li><%=link_to 'Delete', profile_album_picture_path(@picture.album.profile.id, @picture.album.id, @picture.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
 <% end%>
<li><%= link_to 'Edit', edit_profile_album_picture_path(@picture.album.profile.id, @picture.album.id, @picture.id) %></li> 
<li><%= link_to 'Back', profile_albums_path %></li>
  </ul>
</nav>
