
  <b>User:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>About:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Date of Birth:</b>
  <%= @user.dob %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> 

